
<!doctype html>
<html lang="en" data-ng-app="bingo">
<head>
  <title>Bingo Card Generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="blockchain" content="none">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="32x32" href="image/favicon-32x32.png">
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="js/bingo.js"></script>
  <script src="js/anime-en.js"></script>
  <script src="js/anime-ru.js"></script>
  <script src="js/movies-en.js"></script>
  <script src="js/preset.js"></script>
</head>
  
<body data-ng-controller="bingoController">

  <div class="content-wrapper">
    <!-- Preset dropdown -->
    <div class="preset-selector">
      <select id="preset" data-ng-model="selectedPreset" data-ng-change="changePreset()" 
              data-ng-options="preset.value as preset.name for preset in presets">
        <option value="" style="display:none">Select a preset...</option>
        <option value="custom">Custom</option>
      </select>
    </div>

    <!-- Bingo card table -->
    <div class="table-container">
      <table class="card">
        <tr data-ng-repeat="row in card.rows" data-ng-init="outerIndex=$index;" class="card-row">
          <td
            data-ng-repeat="item in row"
            class="card-item overthrow"
            data-ng-class="getCellClass(outerIndex, $index)"
            data-ng-click="handleCellClick(outerIndex, $index)">
            {{ item }}
          </td>
        </tr>
      </table>
    </div>

    <!-- Custom items panel (now placed before table in HTML) -->
  <div class="custom-items-container" ng-class="{'visible': showCustomInput}">
    <textarea 
      id="customItemsTextarea"
      class="custom-items-textarea" 
      data-ng-model="customItemsText" 
      data-ng-change="updateItemCount()"
      placeholder="Enter your bingo items (one per line, at least 24 required)"></textarea>
    <div class="item-counter" ng-show="customItemCount < 24">
      Items entered: {{customItemCount}}/24 (need {{24 - customItemCount}} more)
    </div>
  </div>

    <div class="button-container">
      <button class="button" data-ng-click="saveLayout()">Save</button>
      <button class="button" data-ng-click="newCard()" ng-disabled="selectedPreset == 'custom' && customItemCount < 24">
        New Card
      </button>
      <button class="button" data-ng-click="loadLayout()">Load</button>
      <button class="button" data-ng-click="toggleCustomInput()" 
              ng-class="{'disabled': showCustomInput}">
        Custom Items
      </button>
    </div>
  </div>
</body>
</html>
